.header {
  background-color: var(--bg-main);
  padding: var(--sp-24) 0;
  width: 100%;
}

.header__title {
  font-family: var(--ff-common-title);
  font-size: var(--fz-title-xl);
  line-height: var(--lh-title);
  font-weight: 500;

  color: var(--clr-common-title);

  margin-top: 2.375rem;
}

@media screen and (max-width: 375px) {
  .header {
    padding-top: 1rem;
    border-bottom: 1px solid var(--grey-2);
  }
  .header__title {
    margin: 3rem 0 4.3125rem 0;
    font-size: var(--fz-title-m);
    line-height: 1.36;
  }
}
