[data-theme-dark] {
  & .tabs {
    --l-color-active: var(--grey-2);
    &_content {
      .tabs__menu:after {
        border-bottom: 1px solid var(--grey-4);
      }
    }

    &__label {
      &:hover {
        --l-color-border: var(--grey-1);
        --l-color: var(--grey-2);
      }
    }
  }
}
