.tabs {

}

.tabs__input {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  z-index: -1;
}

.tabs::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: var(--transpr);
}

.tabs::-webkit-scrollbar-thumb {
    background-color: var(--grey-2);
    border-radius: 2px;
}

.tabs:hover::-webkit-scrollbar {
  background-color: var(--grey-2);
}
.tabs:hover::-webkit-scrollbar-thumb {
  background-color: var(--grey-4);
}

.tabs__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2.5rem;
  position: absolute;
  transform: translateY(var(--tabs-y-shift));
}

.tabs__label {
  --l-color-border: var(--transpr);
  --l-color: var(--grey-3);
  user-select: none;
  white-space: nowrap;
  font-family: var(--ff-inter);
  font-size: 1rem;
  line-height: 1.5;

  color: var(--l-color);

  border-bottom: calc(1rem / 3.2) solid var(--l-color-border);
  padding-bottom: var(--sp-8);

  cursor: pointer;

  transition: border var(--trz-eo-015),
              color var(--trz-eo-015);
}

.tabs__label:hover {
  --l-color-border: var(--grey-2);
  --l-color: var(--grey-4);
}



/* Tabs */
.tabs__input_tab-all:checked ~ .tabs__menu .tabs__label.tabs__input_tab-all {
  --l-color-border: var(--black);
  --l-color: var(--black);
}
.tabs__input_tab-elements:checked ~ .tabs__menu .tabs__label.tabs__input_tab-elements {
  --l-color-border: var(--black);
  --l-color: var(--black);
}
.tabs__input_tab-containers:checked ~ .tabs__menu .tabs__label.tabs__input_tab-containers {
  --l-color-border: var(--black);
  --l-color: var(--black);
}
.tabs__input_tab-templates:checked ~ .tabs__menu .tabs__label.tabs__input_tab-templates {
  --l-color-border: var(--black);
  --l-color: var(--black);
}


/* Viewer */
.tabs__viewer { }

.tabs__viewer-item {
  display: none;
}

.tabs__input_tab-all:checked ~ .tabs__viewer .tabs__viewer-item {
  display: flex;
}

.tabs__input_tab-elements:checked ~ .tabs__viewer .tabs__viewer-item.tabs__viewer-item_elements {
  display: flex;
}
.tabs__input_tab-containers:checked ~ .tabs__viewer .tabs__viewer-item.tabs__viewer-item_containers {
  display: flex;
}
.tabs__input_tab-templates:checked ~ .tabs__viewer .tabs__viewer-item.tabs__viewer-item_templates {
  display: flex;
}

@media screen and (max-width: 375px) {
  .tabs__label {
    --l-color-border: var(--grey-0);
  }
}
