.tabs {
  &__input {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    z-index: -1;
  }
  &_content {
    min-width: 100%;
    position: relative;
    .tabs__menu {
      transform: translateY(0);
      margin-top: var(--sp-24);
      margin-bottom: var(--sp-24);
      position: relative;

      &:after {
        border-bottom: 1px solid var(--grey-2);
        content: "";
        display: block;

        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 2.5rem;
    position: absolute;
    transform: translateY(var(--tabs-y-shift));
  }

  &__label {
    --l-color-border: var(--transpr);
    --l-color: var(--grey-3);
    user-select: none;
    white-space: nowrap;
    font-family: var(--ff-inter);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--l-color);
    border-bottom: calc(1rem / 3.2) solid var(--l-color-border);
    padding-bottom: var(--sp-8);
    cursor: pointer;
    transition: border var(--trz-eo-015),
      color var(--trz-eo-015);


    &:hover {
      --l-color-border: var(--grey-2);
      --l-color: var(--grey-4);
    }
    @media $mediaMobile {
      --l-color-border: var(--grey-0);
    }
  }

  /* Tabs */
  &__input_tab-all:checked ~ &__menu &__label&__input_tab-all {
    --l-color-border: var(--black);
    --l-color: var(--black);
  }
  &__input_tab-atoms:checked ~ &__menu &__label&__input_tab-atoms {
    --l-color-border: var(--black);
    --l-color: var(--black);
  }
  &__input_tab-molecules:checked ~ &__menu &__label&__input_tab-molecules {
    --l-color-border: var(--black);
    --l-color: var(--black);
  }
  &__input_tab-organisms:checked ~ &__menu &__label&__input_tab-organisms {
    --l-color-border: var(--black);
    --l-color: var(--black);
  }
  &__input_tab-html:checked ~ &__menu &__label&__input_tab-html {
    --l-color-border: var(--black);
    --l-color: var(--black);
  }
  &__input_tab-css:checked ~ &__menu &__label&__input_tab-css {
    --l-color-border: var(--black);
    --l-color: var(--black);
  }


  /* Viewer */
  &__viewer { /**/ }

  &__viewer-item {
    display: none;
  }

  &__input_tab-all:checked ~ &__viewer &__viewer-item {
    display: flex;
  }

  &__input_tab-atoms:checked ~ &__viewer &__viewer-item&__viewer-item_atoms {
    display: flex;
  }
  &__input_tab-molecules:checked ~ &__viewer &__viewer-item&__viewer-item_molecules {
    display: flex;
  }
  &__input_tab-organisms:checked ~ &__viewer &__viewer-item&__viewer-item_organisms {
    display: flex;
  }
  &__input_tab-html:checked ~ &__viewer &__viewer-item&__viewer-item_html {
    display: flex;
  }
  &__input_tab-css:checked ~ &__viewer &__viewer-item&__viewer-item_css {
    display: flex;
  }

}
