.toggler {
  position: relative;
  display: inline-block;
}

.toggler__input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
}

.toggler__label {
  --l-size-w: 3.25rem;
  --l-size-h: 1.75rem;
  --l-bg: var(--bg-toggler-off);
  --l-bg-dark: var(--purple);
  --l-bg-disc: var(--grey-2);
  --l-bg-disc-dark: var(--white);
  --l-border-color: var(--clr-border-flag);
  --l-position-start: 2px;
  --l-position-end: calc(calc(3.25rem - var(--l-size-h)) + 2px);
  --l-position: var(--l-position-start);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-family: var(--ff-inter);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--clr-ui-label-flag);
  cursor: pointer;
}

.toggler__input:disabled ~ .toggler__label {
  cursor: not-allowed;
}

.toggler__input:focus ~ .toggler__label {
  text-decoration: underline;
}

.toggler__label:before {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  min-width: var(--l-size-w);
  width: var(--l-size-w);
  height: var(--l-size-h);
  margin-right: calc(1rem / 1.3333);
  border-radius: var(--l-size-h);
  background-color: var(--l-bg);
  border: 1px solid var(--l-border-color);
  transition: background var(--trz-eo-015),
              border var(--trz-eo-015);
}
.toggler__label:after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 2px;
  left: var(--l-position);
  min-width: calc(var(--l-size-h) - 4px);
  width: calc(var(--l-size-h) - 4px);
  height: calc(var(--l-size-h) - 4px);
  border-radius: 50%;
  background-color: var(--l-bg-disc);
  transition: left var(--trz-skid-015);
}

.toggler__input:checked ~ .toggler__label:before {
  --l-bg: var(--bg-toggler-on);
  border: 2px solid var(--l-bg);
}
.toggler__input:checked ~ .toggler__label:after {
  --l-bg: var(--bg-toggler-on);
  --l-bg-disc: var(--bg-main);
  --l-position: var(--l-position-end)
}
.toggler__input:disabled ~ .radio__label {
  color: var(--grey-2);
}
.toggler__input:disabled ~ .toggler__label:before {
  --l-bg: var(--bg-toggler-disabled);
}
.toggler__input:disabled ~ .toggler__label:after {
  --l-bg: var(--bg-toggler-disabled);
  --l-bg-disc: var(--grey-3);
}

.toggler__input:disabled:checked ~ .toggler__label:after {
  --l-bg-disc: var(--bg-main);
}

.toggler.toggler_full-width {
  width: 100%;
}
.toggler.toggler_full-width .toggler__label:before {
  margin-right: auto;
}
.toggler.toggler_reverse.toggler_full-width .toggler__label:before {
  margin-right: unset;
  margin-left: auto;
}

.toggler.toggler_reverse .toggler__label {
  flex-direction: row-reverse;
}

.toggler.toggler_reverse .toggler__label:after {
  top: 2px;
  left: auto;
  right: var(--l-position);
  transition: right var(--trz-skid-015);
}

.toggler.toggler_reverse .toggler__label:before {
  margin-right: unset;
  margin-left: calc(1rem / 1.3333);
}

@media screen and (max-width: 375px) {
  .toggler__label {
    align-items: flex-start;
  }
}

[data-theme-dark] .toggler__input:checked ~ .toggler__label:before{
  --l-bg: var(--l-bg-dark);
}
[data-theme-dark] .toggler__input:checked ~ .toggler__label:after{
  --l-bg-disc: var(--l-bg-disc-dark);
}
