.histogram {}
.histogram__item {
  background-color: var(--bg-main);

  padding: var(--sp-24);
  max-width: 100%;

  border: 1px solid var(--grey-3);
  border-radius: var(--rad-common);

  display: grid;
  grid-template-rows: 1fr 1fr;
  direction: rtl;
}

/* info */
.histogram__info {
  display: grid;
  direction: ltr;
  grid-template-areas:
    "label action"
    "value .";
}

.histogram__label {
  grid-area: label;
  direction: ltr;
  font-size: 1rem;
  line-height: var(--lh-common);
  opacity: 0.8;
}

.histogram__value {
  grid-area: value;
  font-size: var(--fz-title-s);
  line-height: var(--lh-130);
  transition: opacity var(--trz-eo-015);
  opacity: 1;
}

.histogram__action {
  grid-area: action;
  width: fit-content;
  margin-left: auto;
  padding: var(--sp-8);
  color: var(--clr-blue-text);
  font-size: 1rem;
  line-height: var(--lh-common);
  background-color: hsla(228deg, 81%, 59%, 0);
  border-radius: var(--rad-buttons);
  border: 0 none transparent;
  cursor: pointer;
  user-select: none;
  white-space: pre;
  transform: translate(var(--sp-8), calc(var(--sp-8) * -1));
  transition: background-color var(--trz-eo-015-015);
}
.histogram__action:hover,
.histogram__action:focus {
  transition: background-color var(--trz-eo-015);
  background-color: hsla(228deg, 81%, 59%, 0.165);
}
.histogram__action:active{
  transition: background-color var(--trz-eo-015);
  background-color: hsla(228deg, 91%, 39%, 0.165);
}

/* chart */
.histogram__chart {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  direction: rtl;
  overflow: hidden;
  max-width: 100%;
}
/* тест модификаторов */
.histogram__chart.histogram__chart_alt .histogram__column {
  background-color: var(--secondary);
}

.histogram__column {
  background-color: var(--blue-alt);
  margin-left:  1px;
  margin-right:  1px;
  min-width: 1px;
  width: 100%;
  transition: height var(--trz-eo-015), background-color var(--trz-eo-015-015), transform var(--trz-eo-015-015);
}
.histogram__column:first-child { margin-left:  0; }
.histogram__column:last-child { margin-right:  0; }

/* тест модификаторов */
.histogram__chart .histogram__column.histogram__column_critical {
  background-color: var(--error);
}


/* эксперименты:*/
.histogram__value.histogram__value_ghost {
  transition: opacity var(--trz-eo-015), transform var(--trz-eo-015);
  opacity: 0;
  transform: translate(0rem, -1.6rem);
}

.histogram__value.histogram__value_ghostAppear {
  opacity: 1;
  transform: translate(0rem, 0rem);
}

.histogram__value.histogram__value_hide {
  transition: opacity var(--trz-eo-015), transform var(--trz-eo-015);
  transform: translate(0, 1.6rem);
  opacity: 0;
}
