.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.page_inner .header {
  padding: 0;
  min-height: calc(1rem * 5.125);
}

.page_inner .content {
  background-color: var(--bg-content-inner);
}
.page_inner .content .container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 3.6rem;
  padding-top: 2.25rem;
}

.page_inner .footer {
  background-color: var(--bg-footer-inner);
  padding-bottom: calc(3.5rem - var(--sp-24));
}
