.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/*
* .page__header { }
* .page__content { }
* .page__container { }
* .page__footer { }
*/


.page__container_inner {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 3.6rem;
  padding-top: 2.25rem;
}

.page_inner .page__header {
  padding: 0;
  background-color: var(--bg-header-inner);
  min-height: calc(1rem * 5.125);
}

.page_inner .page__content {
  background-color: var(--bg-content-inner);
}

.page_inner .page__footer {
  background-color: var(--bg-footer-inner);
  padding-bottom: calc(3.5rem - var(--sp-24));
}


@media screen and (max-width: 375px) {
  .page__container_inner {
    grid-template-columns: 1fr;
  }
  .page_inner .page__header {
    background-color: var(--bg-header-inner-mobile);
  }
  .page_inner .page__content {
    background-color: var(--bg-main);
  }
  .page_inner .page__footer {
    background-color: var(--bg-main);
  }
}
