/* libs */
@import 'libraries/reset/reset.css';
@import 'libraries/reset/normalize.css';

/* fonts */
@import '../fonts/fonts.css';

/* variables */
@import 'variables.css';

/* components */
@import '../../components/presentation/presentation.css';

* {
  font-family: var(--ff-common);

  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: var(--ff-common);
  font-size: var(--fz-base);
  line-height: var(--lh-common);

  color: var(--clr-common-text);
  background-color: var(--bg-main);

  height: 100vh;
}

p {
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}
