/* libs */
@import 'libraries/reset/reset.css';
@import 'libraries/reset/normalize.css';

/* fonts */
@import '../fonts/fonts.css';

/* variables */
@import 'variables.css';

/* components */

/*grid*/
@import '../../components/container/container.css';

/* pages */
@import '../../components/page/page.css';

/* global layout */
@import '../../components/header/header.css';
@import '../../components/content/content.css';
@import '../../components/footer/footer.css';


/* blocks */
@import '../../components/presentation/presentation.css';
@import '../../components/title/title.css';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--ff-common);
  font-size: var(--fz-base);
  line-height: var(--lh-common);

  color: var(--clr-common-text);
  background-color: var(--bg-main);

  height: 100vh;
}

p {
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

h1, h2, h3,
h4, h5, h6 {
  padding: 0;
  margin: 0;
}
