/* libs */
@import 'libraries/reset/reset.css';
@import 'libraries/reset/normalize.css';

/* fonts */
@import '../fonts/fonts.css';

/* variables */
@import 'variables.css';

/* components */

/*grid*/
@import '../../components/container/container.css';

/* pages */
@import '../../components/page/page.css';

/* global layout */
@import '../../components/header/header.css';
@import '../../components/content/content.css';
@import '../../components/footer/footer.css';


/* blocks */
@import '../../components/presentation/presentation.css';
@import '../../components/title/title.css';
@import '../../components/cards/cards.css';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--ff-common);
  font-size: var(--fz-base);
  line-height: var(--lh-common);

  color: var(--clr-common-text);
  background-color: var(--bg-main);
}
body {
  min-height: 100vh;
}

img {
  max-width: 100%;
}
.__dev-bg:not(._off) {
  background-color: var(--clr-dev-b);
  background-image:
  repeating-linear-gradient(
    45deg,
    var(--clr-dev-a) 25%,
    transparent 25%,
    transparent 75%,
    var(--clr-dev-a) 75%,
    var(--clr-dev-a)
    ),
    repeating-linear-gradient(
      45deg,
      var(--clr-dev-a) 25%,
      var(--clr-dev-b) 25%,
      var(--clr-dev-b) 75%,
      var(--clr-dev-a) 75%,
      var(--clr-dev-a)
    );


  background-position: 0 0, 1rem 1rem;
  background-size: 2rem 2rem;
}

.__dev-grid:not(._off) {

  background-color: var(--clr-dev-b);
  background-image:
  linear-gradient(var(--clr-dev-a) var(--ln-dev-w-bold), transparent var(--ln-dev-w-bold)),
  linear-gradient(90deg, var(--clr-dev-a) var(--ln-dev-w-bold), transparent var(--ln-dev-w-bold)),
  linear-gradient(var(--clr-dev-a) var(--ln-dev-w-light), transparent var(--ln-dev-w-light)),
  linear-gradient(90deg, var(--clr-dev-a) var(--ln-dev-w-light), var(--clr-dev-b) var(--ln-dev-w-light));

  background-size:
  var(--ln-dev-g-group) var(--ln-dev-g-group), var(--ln-dev-g-group) var(--ln-dev-g-group),
  var(--ln-dev-g-every) var(--ln-dev-g-every), var(--ln-dev-g-every) var(--ln-dev-g-every);
  background-position:
  calc(var(--ln-dev-w-bold) * -1) calc(var(--ln-dev-w-bold) * -1), calc(var(--ln-dev-w-bold) * -1) calc(var(--ln-dev-w-bold) * -1),
  calc(var(--ln-dev-w-light) * -1) calc(var(--ln-dev-w-light) * -1), calc(var(--ln-dev-w-light) * -1) calc(var(--ln-dev-w-light) * -1);
}

p {
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

h1, h2, h3,
h4, h5, h6 {
  padding: 0;
  margin: 0;
}
