:root {
   /* colors: */
  --white: #ffffff;
  --black: #212429;
  --pink: #F784AD;
  --purple: #7048E8;
  --blue: #374FC7;
  --blue-alt: #4263EB;
  --red: #F03D3E;

  /* g r a y colors */
  --grey-0: #F9FAFC;
  --grey-1: #F8F9FA;
  --grey-e5: #E5E5E5;
  --grey-2: #DDE2E5;
  --grey-3: #ACB5BD;
  --grey-4: #495057;

  /* utility colors */
  --error: var(--red);
  --success: var(--blue);
  --primary: var(--blue);
  --secondary: var(--purple);

  /* bg-colors: */
  --bg-header: var(--white);
  --bg-main: var(--white);
  /* gradients*/
  --grad-l-silver: linear-gradient(
      92.51deg,
      #DDE2E5 6.44%,
      #E2E6E8 38.47%,
      #F3F5F5 56.48%,
      #E3E7EA 77.5%,
      #DDE2E5 102.52%
    );

  /* special */
  --transpr: rgba(255, 255, 255, 0);
  --bg-btn-alternate: var(--bg-main);
  --clr-btn-alternate: var(--grey-4);

  --clr-shd-card: rgba(33, 36, 41, 0.05); /*#212429!0d*/

  --bg-btn-primary-hover: #2342C0;
  --clr-btn-primary: var(--white);

  --bg-btn-secondary-hover: #5028C6;
  --clr-btn-secondary: var(--white);

  /* typography: */
  --ff-roboto: 'Roboto', sans-serif;
  --ff-inter: 'Inter', sans-serif;
  --ff-common: var(--ff-inter);
  --ff-common-title: var(--ff-inter);
  --ff-ui-controls: var(--ff-roboto);
  --ff-ui-accordion: var(--ff-inter);

  --clr-common-text: var(--black);
  --clr-common-title: var(--black);
  --clr-blue-text: var(--blue-alt);

  --fz-base: 16px;


  /* fz text */
  /* s, m */
  --fz-text-s: calc(1rem / 1.1428);
  --fz-text-m: 1rem;

  /* fz title */
  /* s, m, l, xl*/
  --fz-title-s: calc(1rem * 1.25);   /* 20 */
  --fz-title-m: calc(1rem * 1.75);   /* 28 */
  --fz-title-l: calc(1rem * 2.375);  /* 38 */
  --fz-title-xl: calc(1rem * 3.125); /* 50 */

  /* fz title mobile */
  /* m, l, xl*/
  --fz-title-mob-m: calc(1rem * 1.25);
  --fz-title-mob-l: calc(1rem * 1.5);
  --fz-title-mob-xl: calc(1rem * 1.75);

  /* fz text mobile */
  /* small, p */
  --fz-text-mob-small: calc(1rem * 1.6);
  --fz-text-mob-p: calc(1rem / 1.1428);

  /* line-heights */
  --lh-common: 1.5;          /* 24       || 150% */
  --lh-title: 1.28;          /* 20.48    || 128%  */
  --lh-title-section: 1.26;  /* 20.16    || 126%  */
  --lh-130: 1.3;             /* 20.8     || 130%  */
  --lh-text-s: 1.5714;       /* 25,1424‬ */

  /* spacers */
  /* 8, 24, 32, 64 */
  --sp-8:  calc(1rem / 2);
  --sp-24: calc(var(--sp-8) * 3) /* calc(1rem * 1.5)*/;
  --sp-32: calc(var(--sp-8) * 4) /* calc(1rem * 2)*/;
  --sp-64: calc(var(--sp-8) * 8) /* calc(1rem * 4)*/;

  /* buttons */
  --sp-pt-buttons: calc(1rem / 1.0666);
  --sp-pr-buttons: calc(1rem / 1.0666);
  --sp-pb-buttons: calc(1rem / 1.1428);
  --sp-pl-buttons: calc(1rem / 1.0666);


  /* header */
  --sp-pt-header: calc(var(--sp-8) * 12);
  --sp-pb-header: calc(var(--sp-8) * 9);

  /* footer */
  --sp-pt-footer: calc(var(--sp-8) * 9);
  --sp-pb-footer: calc(var(--sp-8) * 17);

  /* icons */
  --ic-black-chevron-down: url("../../assets/images/ic-black-chevron-down.svg");

  --ic-accordion-toggle: var(--ic-black-chevron-down);

  /* icon-sizes */
  /* x, s, m */
  --ic-size-x: calc(1rem / 1.3333);
  --ic-size-s: 1rem;
  --ic-size-m: 1.374rem;
  /* avatars-sizes */
  /* s, m */
  --avatar-size-s: calc(var(--sp-8) * 8);
  --avatar-size-m: calc(var(--sp-8) * 16);

  /* border-radiuses */
  --rad-common: var(--sp-8);
  --rad-buttons: var(--rad-common);
  --rad-accordion: var(--rad-common);
  --rad-card: calc(1rem / 1.3333);

  /* transition */
  --trz-eo-015: /* prop first */ 0.15s 0s ease-out;
  --trz-eo-015-015: /* prop first */ 0.15s 0.15s ease-out;

  /* shadows */
  --shd-card: 0px 2px 4px var(--clr-shd-card);

  /* grid & layout */
  /* container breakpoints*/
  /* not support :-( */
  /* mini, mobile, desktop */
  --brk-w-container-mini: 639px;
  --brk-w-container-mobile: 640px;
  --brk-w-container-desktop: 1110px;

  /* container width*/
  /* mini, mobile, desktop */
  --w-container-mini: 100%;
  --w-container-mobile: 640px;
  --w-container-desktop: 1170px;

  /* grid*/
  --base-cols: 3;

  /* __dev */
  --ln-dev-w-bold: 2px;
  --ln-dev-w-light: 1px;

  --ln-dev-g-every: var(--sp-8);
  --ln-dev-g-group: calc(var(--ln-dev-g-every) * 8);

  --clr-dev-a: hsla(255deg, 50%, 87%, 1);
  --clr-dev-b: var(--grey-e5);
}
