[data-theme-dark] {
  & .footer {

    &__text {
      color: var(--font-color);
    }

    &__title_mutetext {
      font-style: normal;
      font-weight: 500;
      font-size: calc(1rem / 1.3333);
      letter-spacing: .04em;
      text-transform: uppercase;
      color: var(--grey-3);
    }
  }
}
