.theme-changer {
  user-select: none;
  display: flex;

  &__icon {
    color: var(--grey-3);
    transition: color var(--trz-eo-015);
    &:hover {
      color: var(--grey-4);
    }
  }

  &__label {
    cursor: pointer;
    &:first-child {
      cursor: default;
      .theme-changer__icon {
        color: var(--grey-4);
      }
    }
  }

  &__toggler { }

  &__toggler-body {
    $lMarginRight: calc(1rem / 1.2307);
    $lMarginLeft: calc(1rem / 1.2307);

    &:before,
    &.toggler__label:before {
      margin-left: $lMarginRight;
      margin-right: $lMarginLeft;
    }

    &:after,
    &.toggler__label:after {
      --l-position-start: calc(2px + $lMarginLeft);
      --l-position-end: calc(calc(calc(3.25rem + $lMarginRight) - var(--l-size-h)) + 2px);
      --l-position: var(--l-position-start);
    }
  }
  &_self-end {
    margin-left: auto;
  }
  &_on {

    .theme-changer__icon:hover {
      color: var(--grey-3);
    }

    .theme-changer__label {
      cursor: default;
      &:first-child {
        cursor: pointer;
      }
    }

  }

}
