.checkbox {
  position: relative;
  display: inline-block;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
}

.checkbox__label {
  --l-size: 1.75rem;
  --l-bg: var(--checkbox__label-bg-checkbox-off);
  --l-bg-splash: var(--checkbox__label-bg-splash);
  --l-border-color: var(--clr-border-flag);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-family: var(--ff-inter);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--clr-ui-label-flag);
  cursor: pointer;
}

.checkbox__input:disabled ~ .checkbox__label {
  cursor: not-allowed;
}

.checkbox__input:focus ~ .checkbox__label {
  text-decoration: underline;
}

.checkbox__label:before {
  content: "";
  display: inline-block;
  width: var(--l-size);
  height: var(--l-size);
  margin-right: calc(1rem / 1.3333);
  border-radius: 4px;
  border: 1px solid var(--l-border-color);
  background-color: var(--l-bg);
  background-image: var(--ic-checkbox);
  background-position: center center;
  background-size: 100% 300%;
  background-repeat: no-repeat;
  transition: background var(--trz-eo-015),
              border var(--trz-eo-015);
}

.checkbox__label:after {
  content: '';
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: calc(var(--l-size) / 4);
  left: calc(var(--l-size) / 4);
  background-color: var(--l-bg-splash);
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition: transform var(--trz-eo-015);
}

.checkbox__input:checked ~ .checkbox__label:after {
  transform: scale(0);
  opacity: 0;
  animation-name: fadeOutSplashDot;
  animation-duration: 0.25s;
}

.checkbox__input:checked ~ .checkbox__label:before {
  --l-bg: var(--checkbox__label-bg-checkbox-on);
  --l-border-color: var(--transpr);
  background-size: 100% 100%;
}
.checkbox__input:disabled ~ .radio__label {
  color: var(--grey-2);
}
.checkbox__input:disabled ~ .checkbox__label:before {
  --l-bg: var(--checkbox__label-bg-checkbox-disabled);
  --l-border-color: var(--transpr);
}
