.content {
  background-color: var(--grey-0);
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.content__viewer {
  background-color: var(--bg-ui-widgets);
  box-shadow: var(--shd-card);

  padding: var(--sp-32) 3rem var(--sp-32) 3rem;
  border: 0 solid transparent;
  border-radius: var(--rad-card);

  min-width: 50vh;
}

.content__title {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.36;
  color: var(--grey-4);
  margin-bottom: var(--sp-24);
}

.content__picture {

}
