.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  @media $mediaMobile {
    min-height: unset;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logotype-link{
    display: block;
    line-height: 0;
  }

  &__logotype {
    min-height: 2rem;
  }
}
