[data-theme-dark] {
  --input__control-clr: var(--grey-2);
  --input__control-clr-disabled: var(--grey-3);
  --input__control-clr-placeholder: var(--grey-4);

  --input__control-clr-border: var(--grey-4);
  --input__control-clr-border-disabled: var(--grey-4);
}
